.unorder-list {
  background-color: white;
  /* margin: 0 20%; */
  list-style: none;
  padding: 0 40px;
  border-radius: 20px;
}

@media screen and (max-width: 425px) {
  .unorder-list {
    padding: 10px;
  }
}
